html {
  background-color: #f2f2f2;
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  min-width: 768px;
  max-width: 1200px; 
  margin: 0 auto;
 	padding: 0;
 	font-family: "PT Sans", "Arial", sans-serif;
 	font-size: 14px;
 	line-height: 21px;
 	color: #000000;
 	text-transform: uppercase;
 	background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
 	text-decoration: none;
}

img {
  display: block;
	max-width: 100%; 
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  position: relative;
	padding: 15px 6.1%;
 	line-height: 26px;
 	font-weight: 700;
 	color: #000000;
 	background-color: #ffffff;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: calc(50% - 69px);
	width: 138px;
	height: 70px;
}

.main-menu-list {
	display: flex;
  flex-wrap: wrap;
	margin: 0;
	padding: 0;
 	list-style: none;
}

.main-menu-list li {
	width: 22.8%;
}

.main-menu-list li:nth-child(4n-1),
.main-menu-list li:nth-child(4n) {
	text-align: right;
}

.main-menu-list li:nth-child(4n-1) {
	margin-left: auto;
}

.main-menu-item {
 	color: #000000;
}

.main-menu-item:hover,
.main-menu-item:focus {
 	color: #81b3d2;
}

.main-menu-item:active {
 	color: rgba(0, 0, 0, 0.3);
}

.current {
 	color: #766357;
 	pointer-events: none;
}

.welcome {
	display: flex;
	justify-content: center;
	padding-top: 76px;
	padding-bottom: 80px;
 	background-color: #a9c4d8;
 	background-image:
 	  url("../img/shape-1.png"), 
 	  url("../img/background-welcome.jpg");
 	background-repeat: 
 	  no-repeat,
 	  no-repeat;
 	background-position:
 	  center 100%,
 	  center top -55px; 
 	background-size: 
 	  100% 57px,
 	  auto;
}

.welcome img {
	width: 458px;
	height: 352px;
}

.advantages {
	padding-top: 60px;
	color: #333333;
}

.advantages h2 {
	width: 465px;
	margin: 0;
	margin: 0 auto;
	margin-bottom: 28px;
	padding: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.advantages > p {
  margin: 0;
	margin-bottom: 52px;
  padding: 0;
	line-height: 26px;
	text-align: center;
}

.advantages-item-wrapper {
	display: flex;
	min-height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
	overflow: hidden;
}

.advantages-image {
  display: flex;
  align-items: center;
  width: 66.7%;
  height: 256px;
}

.image-two {
  order: -1;
}

.advantages-item h3 {
	width: 151px;
  margin: 0 auto 24px auto;
	padding: 0;
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.advantages-item p {
	margin: 0;
	margin-top: 21px;
	padding: 0;
}

.advantages-list {
	display: flex;
  flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.advantages-list-item {
  position: relative;
  min-height: 330px;
  padding: 160px 4.7% 65px 4.7%;
}

.advantages-list-item p {
  margin-top: 0;
}

.advantages-list-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
}

.advantages-list-item:first-child::before {
  background-image: url("../img/icon-1.svg");
}

.advantages-list-item:nth-child(2)::before {
  background-image: url("../img/icon-2.svg");
}

.advantages-list-item:nth-child(3)::before {
  top: 56px;
  margin-left: -32px;
  background-image: url("../img/icon-3.svg");
}

.advantages-desc {
	padding: 47px 4% 40px 4%;
}

.advantages-desc h3 {
  color: #ffffff;
}

.advantages-blocks .advantages-item {
  min-height: 256px;
	padding: 47px 5% 40px 5%;
}

.advantages-blocks .advantages-item:nth-child(3) {
  padding: 47px 6% 40px 6%;
}

.advantages-list-item,
.advantages-desc,
.advantages-blocks .advantages-item {
	width: 33.3%;
	text-align: center;
}

.advantages-blocks {
	display: flex;
  flex-wrap: wrap;
	background-color: #eeeeee;
}

.search {
  position: relative;
	padding-top: 49px;
}

.search p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.search p:first-of-type {
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.search p:last-of-type {
  margin-bottom: 46px;
  line-height: 24px;
  color: #333333;
}

.button {
  display: block;
  margin: 0 auto;
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
  border: none;
}

.search-button {
  width: 568px;
  height: 86px;
	background-color: #766357;
}

.search-button:hover,
.search-button:focus {
	background-color: #604e43;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-form {
	position: absolute;
  left: calc(50% - 284px);
	width: 568px;
	height: 395px;
  padding: 55px;
	background-color: #ffffff;
}

.search-form label {
	line-height: 26px;
	font-weight: 700;
}

.search-item {
  position: relative;
}

.date-arrival label {
  margin-right: 19px;
}

.date-exit label {
  margin-right: 16px;
}

.number-adults label {
  margin-right: 36px;
}

.number-children label {
  margin-right: 25px;
}

.search-form input {
  margin-bottom: 30px;
  padding: 6px 12px;
	font: inherit;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #f2f2f2;
  border: none;
}

.search-item-wrapper input {
  margin-bottom: 0;
}

.date-arrival input,
.date-exit input {
  width: 346px;
}

.number-adults input,
.number-children input {
  width: 114px;
  text-align: center;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search-form input::placeholder {
    color: #000000;
}

.form-button {
  width: 458px;
  height: 58px;
	background-color: #81b3d2;
}

.form-button:hover,
.form-button:focus {
	background-color: #669ec0;
}

.form-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.search-item button {
  border: none;
  background-color: transparent;
}

.icon-calendar {
  position: absolute;
  top: 7px;
  right: 4px;
}

.icon-calendar:focus,
.search-item-wrapper button:focus {
  outline: none;
}

.icon-calendar svg {
  width: 21px;
  height: 22px;
}

.icon-calendar path {
  fill: #cacaca;
}

.icon-calendar:hover path,
.icon-calendar:focus path {
  fill: #333333;
}

.icon-calendar:active path {
  fill: #81b3d2;
}

.search-item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.search-item-wrapper button {
  width: 38px;
  height: 38px;
}

.icon-minus {
  position: absolute;
  bottom: 0;
  right: 67px;
}

.icon-plus {
  position: absolute;
  bottom: 0;
  right: -8px;
}

.icon-minus::before,
.icon-plus::before,
.icon-plus::after {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.icon-plus::after {
  transform: rotate(90deg) translate(-3px);
}

.icon-minus:hover::before,
.icon-minus:focus::before,
.icon-plus:hover::before,
.icon-plus:focus::before,
.icon-plus:hover::after,
.icon-plus:focus::after {
   background-color: #000000;
}

.icon-minus:active::before,
.icon-plus:active::before,
.icon-plus:active::after {
   background-color: #81b3d2;
}

.map {
  height: 473px; 
}

.map-footer-wrapper {
	background-color: #f2f1ef;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
}

.filter {
  padding: 27px 6.1% 30px 6.1%;
	color: #ffffff;
	background-color: #4d7ea9;
	background-image: url("../img/background-filter.jpg");
	background-repeat: no-repeat;
}

.filter-form {
  display: flex;
}

.filter fieldset {
  display: flex;
	border: none;
}

.filter legend {
  margin-bottom: 25px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filter-form-cost legend {
  margin-bottom: 12px;
}

.filter-wrapper {
  margin-bottom: 26px;
}

.filter-wrapper:last-child {
  margin-bottom: 0;
}

.filter-form-infrastructure,
.filter-form-housing {
  width: 24.2%;
  margin: 0;
  padding: 0;
}

.filter-form-infrastructure label,
.filter-form-housing label {
  padding-left: 40px;
}

.filter-form input[type="checkbox"] {
  display: none;
}

.filter-wrapper svg {
  position: absolute;
  fill: #ffffff;
}

.filter-form input[type="checkbox"]:disabled + svg {
  fill: #6a6a6a;
}


.filter-form-cost {
  margin-left: auto;
  padding: 0;
}

.filter-form-cost input {
	font: inherit;
	color: #ffffff;
	background-color: transparent;
}

.filter-form-cost input::placeholder {
    color: #ffffff;
}

.filter-button {
	font: inherit;
	color: #ffffff;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.sorting-result {
  display: flex;
  align-items: baseline;
  padding: 30px 6.1%;
	background-color: #fefefe;
}

.result {
  width: 165px; 
}

.result p {
  margin: 0;
  padding: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 355px;
	font-size: 12px;
	line-height: 18px;
}

.sorting p {
  margin: 0;
  margin-right: 3px;
  padding: 0;
}

.sorting a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover,
.sorting a:focus {
	color: #81b3d2;
}

.sorting a:active {
	color: #000000;
	border-bottom: none;
}

.sorting .active {
    color: #81b3d2;
	border-bottom: none;
}

.order {
  margin-left: auto;
}

.catalog {
	background-color: #fefefe;
}

.product {
  display: flex;
  padding: 30px 6.1%;
  border-top: 1px solid #e5e5e5;
}

.product:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-list {
  margin: 0;
  padding: 0;
	list-style: none;
}

.product-title {
  margin: 0;
  padding: 0;
}

.product-title a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.product-title a:hover,
.product-title a:focus {
	color: #81b3d2;
}

.product-title a:active {
	color: rgba(0, 0, 0, 0.3);
}

.product-preview {
  width: 165px;
}

.product-preview img {
  width: 135px;
  height: 90px;
}

.product-rating {
  margin-left: auto;
}

.product-rating-stars {
  display: flex;
  justify-content: flex-end;
}

.product-rating-stars img {
  margin-left: 5px;
}

.product-rating-value {
  margin: 0;
  padding: 0;
}

.product-info,
.product-rating,
.product-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-category,
.product-price {
	color: #333333;
}

.product-button {
	font-weight: 700;
	color: #ffffff;
}

.product-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.button-info {
	background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0;
} 

.button-info:active {
	background-color: #5496bd;
}

.button-book {
	background-color: #766357;
}

.button-book:hover,
.button-book:focus {
	background-color: #604e43;
}

.button-book:active {
	background-color: #503e33;
}

.product-rating-value {
	width: 110px;
	height: 27px;
	line-height: 27px;
	color: #666666;
	text-align: center;
	vertical-align: top;
	background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 36px 6.1%;
	background-color: rgba(249, 251, 246, 0.9);
}

.inner-page {
	background-color: #fefefe;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 24%;	
}

.footer-hashtag,
.footer-social ul,
.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-hashtag a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2; 
}

.social-button::before {
  content: "";
  background-repeat: no-repeat;
}

.button-twitter::before {
  width: 17px;
  height: 15px;
  background-image: url("../img/twitter.svg");
}
  
.button-facebook::before {
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
}

.button-youtube::before {
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright p {
  margin: 0;
  margin-right: 8px;
  padding: 0;
	line-height: 26px;
}

.footer-logo svg {
	width: 115px;
	height: 41px;
}

.footer-logo:hover path,
.footer-logo:focus path {
	fill: #81b3d2;
}

.footer-logo:active path {
	fill: #bdbbbc;
}
