html {
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
}

*, *::before, *::after { 
  -webkit-box-sizing: inherit; 
          box-sizing: inherit; 
}

body {
  min-width: 768px;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; 
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  position: relative;
  padding: 15px 6.1%;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
  width: 138px;
  height: 70px;
}

.main-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-list li {
  width: 22.8%;
}

.main-menu-list li:nth-child(4n-1),
.main-menu-list li:nth-child(4n) {
  text-align: right;
}

.main-menu-list li:nth-child(4n-1) {
  margin-left: auto;
}

.main-menu-item {
  display: block;
  color: #000000;
}

.main-menu-item:hover,
.main-menu-item:focus {
  color: #81b3d2;
}

.main-menu-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  color: #766357;
  pointer-events: none;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  padding-top: 76px;
  padding-bottom: 80px;
  background-color: #a9c4d8;
  background-image:
    url("../img/shape-1.png"), 
    url("../img/background-welcome.jpg");
  background-repeat: 
    no-repeat,
    no-repeat;
  background-position:
    center 100%,
    center top -55px; 
  background-size: 
    100% 57px,
    auto;
}

.welcome img {
  width: 458px;
  height: 352px;
}

.advantages {
  padding-top: 60px;
  color: #333333;
}

.advantages h2 {
  width: 465px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.advantages > p {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  line-height: 26px;
  text-align: center;
}

.advantages-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
  overflow: hidden;
}

.advantages-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 66.7%;
  height: 256px;
}

.image-two {
  -webkit-box-ordinal-group: 0;
             -ms-flex-order: -1;
                      order: -1;
}

.advantages-item h3 {
  width: 151px;
  margin: 0 auto 24px auto;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.advantages-item p {
  margin: 0;
  margin-top: 21px;
  padding: 0;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item {
  position: relative;
  min-height: 330px;
  padding: 160px 4.7% 65px 4.7%;
}

.advantages-list-item p {
  margin-top: 0;
}

.advantages-list-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: calc(50% - 38px);
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
}

.advantages-list-item:first-child::before {
  background-image: url("../img/icon-1.svg");
}

.advantages-list-item:nth-child(2)::before {
  background-image: url("../img/icon-2.svg");
}

.advantages-list-item:nth-child(3)::before {
  top: 56px;
  left: calc(50% - 32px);
  background-image: url("../img/icon-3.svg");
}

.advantages-desc {
  padding: 47px 4% 40px 4%;
}

.advantages-desc h3 {
  color: #ffffff;
}

.advantages-blocks .advantages-item {
  min-height: 256px;
  padding: 47px 5% 40px 5%;
}

.advantages-blocks .advantages-item:nth-child(3) {
  padding: 47px 6% 40px 6%;
}

.advantages-list-item,
.advantages-desc,
.advantages-blocks .advantages-item {
  width: 33.3%;
  text-align: center;
}

.advantages-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eeeeee;
}

.search {
  position: relative;
  padding-top: 49px;
}

.search p {
  width: 568px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.search p:first-of-type {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search p:last-of-type {
  margin-bottom: 46px;
  line-height: 24px;
  color: #333333;
}

.button {
  display: block;
  margin: 0 auto;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.search-button {
  position: relative;
  z-index: 10;
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.search-form {
  position: absolute;
  z-index: 3;
  left: calc(50% - 284px);
  display: none;
  width: 568px;
  padding: 55px 54px;
  background-color: #ffffff;
}

.search-form-open {
  display: block;
  animation: bounce 0.6s;
}

.search-form-error {
  animation: shake 0.6s;
}

.search-form label {
  line-height: 26px;
  font-weight: 700;
}

.search-item {
  position: relative;
}

.date-arrival label {
  margin-right: 19px;
}

.date-exit label {
  margin-right: 16px;
}

.number-adults label {
  margin-right: 36px;
}

.number-children label {
  margin-right: 25px;
}

.search-form input {
  margin-bottom: 30px;
  padding: 6px 12px;
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search-item-wrapper input {
  margin-bottom: 0;
}

.date-arrival input,
.date-exit input {
  width: 346px;
  height: 38px;
}

.number-adults input,
.number-children input {
  width: 114px;
  height: 38px;
  text-align: center;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form input::-webkit-input-placeholder {
  color: #000000;
}

.search-form input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form input:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form input:-ms-input-placeholder {
  color: #000000;
}

.search-form input::-ms-input-placeholder {
  color: #000000;
}

.search-form input::placeholder {
  color: #000000;
}

.form-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.form-button:hover,
.form-button:focus {
  background-color: #669ec0;
}

.form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.search-item button {
  border: none;
  background-color: transparent;
}

.icon-calendar {
  position: absolute;
  top: 7px;
  right: 4px;
}

.icon-calendar path {
  fill: #cacaca;
}

.icon-calendar:hover path,
.icon-calendar:focus path {
  fill: #333333;
}

.icon-calendar:active path {
  fill: #81b3d2;
}

.search-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  margin-bottom: 54px;
}

.search-item-wrapper button {
  width: 38px;
  height: 38px;
}

.icon {
  position: absolute;
  bottom: 0;
}

.icon-minus {
  right: 76px;
}

.icon-plus {
  right: 0;
}

.icon::before,
.icon-plus::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.icon-plus::after {
  -webkit-transform: rotate(90deg) translate(-3px);
      -ms-transform: rotate(90deg) translate(-3px);
          transform: rotate(90deg) translate(-3px);
}

.icon:hover::before,
.icon:focus::before,
.icon:hover::after,
.icon:focus::after {
   background-color: #000000;
}

.icon:active::before,
.icon:active::after {
   background-color: #81b3d2;
}

.map {
  height: 473px; 
}

.map-footer-wrapper {
  background-color: #f2f1ef;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map iframe {
  position: relative;
  z-index: 1;
  width: 100%;
  border: none;
}

.filter {
  padding: 27px 6.1% 30px 6.1%;
  color: #ffffff;
  background-color: #4d7ea9;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter fieldset {
  margin-right: 0;
  border: none;
}

.filter legend {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-form-cost legend {
  width: 97%;
  margin-left: auto;
  margin-bottom: 12px;
}

.filter-wrapper {
  position: relative;
  margin-bottom: 26px;
}

.filter-wrapper:last-child {
  margin-bottom: 0;
}

.filter-form-infrastructure,
.filter-form-housing {
  width: 24.2%;
  margin: 0;
  padding: 0;
}

.filter-form-infrastructure label,
.filter-form-housing label {
  padding-left: 40px;
  cursor: pointer;
}

.filter-wrapper input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-wrapper input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-wrapper input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}

.filter-wrapper input[type="checkbox"]:focus + label::before {
  outline: 5px auto -webkit-focus-ring-color;
}  

.filter-form-cost {
  width: 31%;
  margin-left: auto;
  padding: 0;
}

.filter-form-cost input {
  width: 35px;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.filter-form-cost input::-webkit-input-placeholder {
  color: #ffffff;
}

.filter-form-cost input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.filter-form-cost input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.filter-form-cost input:-ms-input-placeholder {
  color: #ffffff;
}

.filter-form-cost input::-ms-input-placeholder {
  color: #ffffff;
}

.filter-form-cost input::placeholder {
  color: #ffffff;
}

.cost-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 97%;
  height: 36px;
  margin-left: auto;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
 
.cost-wrapper label {
  width: 50%;
  cursor: pointer;
}

.cost-wrapper label:first-child {
  padding-left: 20.5%;
}

.cost-wrapper label:last-child {
  padding-left: 17.5%;
}

.cost-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-bar {
  position: relative;
  width: 97%;
  margin-left: auto;
  margin-bottom: 32px;
}

.price-scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-scale-active {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.price-bar button {
  position: absolute;
  top: -9px;
  padding: 0;
  background-color: transparent;
  border: none; 
  cursor: pointer;
}

.price-bar button::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.price-control-min {
  left: 0;
}

.price-control-max {
  left: 80%;
}

.price-bar button:hover::before,
.price-bar button:focus::before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.sorting-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
     -ms-flex-align: baseline;
        align-items: baseline;
  padding: 30px 6.1%;
  background-color: #fefefe;
}

.result {
  width: 165px; 
}

.result p {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  width: 355px;
  font-size: 12px;
  line-height: 18px;
}

.sorting p {
  margin: 0;
  margin-right: 3px;
  padding: 0;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

.sorting .active {
  color: #81b3d2;
  border-bottom: none;
}

.order {
  position: relative;
  width: 34px;
  margin-left: auto;
}

.order-icon::before {
  content: "";
  position: absolute;
  bottom: 0;
  border: 10px solid #cacaca; ;
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #cacaca transparent;
}

.icon-up::before {
   border-top-width: 0;
}

.icon-down::before {
  right: 0;
  border-bottom-width: 0;
}

.icon-up:hover::before,
.icon-up:focus::before {
  border-bottom-color: #231f20;
}

.icon-down:hover::before,
.icon-down:focus::before {
  border-top-color: #231f20;
}

.icon-up:active::before,
.icon-up.active::before {
  border-bottom-color: #81b3d2;
}

.icon-down:active::before,
.icon-down.active::before {
  border-top-color: #81b3d2;
}

.catalog {
  background-color: #fefefe;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 6.1%;
  border-top: 1px solid #e5e5e5;
}

.product:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.product-title a {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.product-title a:hover,
.product-title a:focus {
  color: #81b3d2;
}

.product-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-preview {
  width: 165px;
}

.product-preview img {
  width: 135px;
  height: 90px;
}

.product-info {
  width: 45%;
}

.product-rating {
  width: 20%;
}

.product-rating {
  -webkit-box-align: end;
     -ms-flex-align: end;
        align-items: flex-end;
  margin-left: auto;
}

.product-rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
     -ms-flex-pack: end;
   justify-content: flex-end;
}

.product-rating-stars img {
  margin-left: 5px;
}

.product-rating-value {
  margin: 0;
  padding: 0;
}

.product-info,
.product-rating,
.product-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
     -webkit-box-orient: vertical;
     -ms-flex-direction: column;
         flex-direction: column;
}

.product-rating,
.product-preview {
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 17px;
  color: #333333;
}

.product-category {
  width: 116px;
}

.product-button {
  padding: 5px 17px;
  font-weight: 700;
  color: #ffffff;
}

.product-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-info {
  margin-right: 3px;
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
} 

.button-info:active {
  background-color: #5496bd;
}

.button-book {
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
}

.product-rating-value {
  padding: 3px 14px;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  padding: 36px 0;
  background-color: rgba(249, 251, 246, 0.9);
}

.inner-page {
  background-color: #fefefe;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 33.3%; 
}

.footer-hashtag,
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2; 
}

.social-button::before {
  content: "";
  background-repeat: no-repeat;
}

.button-twitter::before {
  width: 17px;
  height: 15px;
  background-image: url("../img/twitter.svg");
}
  
.button-facebook::before {
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
}

.button-youtube::before {
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright p {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  line-height: 26px;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bdbbbc;
}